#ad {
    margin: 0 auto;
    width: 80%;
    text-align: center;

    h2 {
        text-transform: uppercase;
        margin-bottom: 2em;
        font-size: 2.5rem;
        font-family: 'Overpass', sans-serif;

    }

    img {
        height: 250px;
        width: auto;
    
    }

    p {
        font-size: 1rem;
        line-height: 1.5em;
        width: 50%;
        margin: 0 auto 5em;
    }
}
